$blue: #6bc9ef;
$orange: #ef916b;
$lightBlue: #aaddf6;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border: 0;
}
